/* Set background color of the page */
body {
  background-color: white;
}

/* Set box-sizing to border-box for all elements */
body * {
  box-sizing: border-box;
}

/* Set styling for the header */
.header {
  background-color: #5e5e5e;
  color: #fff;
  font-size: 2em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 5px solid #ff8800;
}

/* Set styling for images */
img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

/* Set styling for the table */
.table-users {
  border: 1px solid #ff8800;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
}

table {
  width: 100%;
}

table td, table th {
  color: #fff;
  padding: 10px;
}

table td {
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  text-shadow: 2px 2px 2px #000;
}

table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}

table th {
  background-color: #ff8800;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

table tr:nth-child(2n) {
  background-color: #5e5e5e;
}

table tr:nth-child(2n+1) {
  background-color: #1c1c1c;
}
